@model ws.web.eng.Models.SimuladorDeProjetoViewModel
@{
    ViewBag.Title = "Personalizado";
}

@using (Html.BeginForm("Personalizado", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{


    @Html.Partial("_Percistencia")


    <br />
    <div class="row">
        <div class="has-error">
            @ViewBag.Message
        </div>
    </div>
    <br />
    <div class="row">
        <h2>Deseja um projeto <span style="color:red">personalizado</span>?</h2>
        <h4>Nossas opções de projeto não se enquadram no seu desejo? Nós personalizamos para você</h4>
    </div>

    <fieldset>
        <legend>Área do Projeto (Superior ou igual a 300M2)</legend>
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(x => x.AreaPersonalizada)
                @Html.TextBoxFor(x => x.AreaPersonalizada, new { @class = "form-control", @type = "number" })
            </div>
        </div>
    </fieldset>



    <br />
    <fieldset>
        <legend>Ficha do Projeto</legend>
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(x => x.EnderecoCompletoEmpreendimento)
                @Html.TextBoxFor(x => x.EnderecoCompletoEmpreendimento, new { @class = "form-control", @maxlength = "250" })
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(x => x.TextoLivre)
                @Html.TextAreaFor(x => x.TextoLivre, new { @class = "form-control", @maxlength = "250", @rows = "5" })
            </div>
        </div>
    </fieldset>

    <div class="row text-center">
        <br />
        <input type="submit" value="voltar" name="BT_VOLTAR" class="btn btn-primary" />
        @if (Session["usu"] == null)
        {
            <input type="submit" value="Continuar e fazer um novo cadastro" name="BT_PROX" class="btn btn-primary" />
            <input type="submit" value="Continuar e fazer seu login" name="BT_LOG" class="btn btn-primary" />
        }
        else
        {
            <input type="submit" value="Continuar" name="BT_CON" class="btn btn-primary" />
        }

    </div>
}



