@using ws.eng.obj
@using ws.web.eng.Models
@model ws.web.eng.Models.SimuladorDeProjetoViewModel
@{
    ViewBag.Title = "Resumo Final";
}

@using (Html.BeginForm("Resumo", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    @Html.Partial("_Percistencia")

    <br />
    <div class="row">
        <div class="has-error">
            @ViewBag.Message
        </div>
    </div>
    <br />
    <div class="row">
        <h2>Resumo do <span style="color:red;">Projeto</span></h2>
    </div>
    <fieldset>
        <legend>Dados do Projeto</legend>
        <div class="row">
            <div class="col-md-3">
                @Html.LabelFor(x => x.Regiao)
                @EnumObj.GetEnumDescription(Model.Regiao)
            </div>
            <div class="col-md-3">
                @Html.LabelFor(x => x.Projeto)
                @EnumObj.GetEnumDescription(Model.Projeto)
            </div>
            <div class="col-md-3">
                @Html.LabelFor(x => x.Area)
                @EnumObj.GetEnumDescription(Model.Area)
            </div>
            <div class="col-md-3">
                @Html.LabelFor(x => x.PadraoAcabamento)
                @EnumObj.GetEnumDescription(Model.PadraoAcabamento)
            </div>
        </div>
    </fieldset>
    <br />
    <fieldset>
        <legend>Resumo Financeiro</legend>
        @foreach(var item in Model.ServicosArquitetura)
        {
            if (item.Selecionado)
            {
                <div class="row">
                    <div class="col-md-3">
                        <b>@item.Nome :</b>
                    </div>
                    <div class="col-md-3">
                        @item.ValorFormatado
                    </div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
            }
        }

        @foreach (var item in Model.ServicosEngenharia)
        {
            if (item.Selecionado)
            {
                <div class="row">
                    <div class="col-md-3">
                        <b>@item.Nome :</b>
                    </div>
                    <div class="col-md-3">
                        @item.ValorFormatado
                    </div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
            }
        }
        <div class="row">
            <div class="col-md-3">
                
            </div>
            <div class="col-md-3">
                
            </div>
            <div class="col-md-3">
                <b>Total:</b>
            </div>
            <div class="col-md-3">
                @Model.ValorProjetoTotalFormatado
            </div>
        </div>
    </fieldset>    
    <br />
    <fieldset>
        <legend>Seus Dados</legend>
        <div class="row">
            <div class="col-md-3">
                <b>CPF/CNPJ</b>
            </div>
            <div class="col-md-3">                
                @Model.CpfCnpj
            </div>
            <div class="col-md-3">
               <b>Nome</b>
            </div>
            <div class="col-md-3">
                @Model.Nome
            </div>
            
        </div>
        <div class="row">            
            <div class="col-md-3">
             <b>E-Mail</b>
            </div>
            <div class="col-md-9">
               @Model.Email
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <b>Local</b>
            </div>
            <div class="col-md-9">
                @Model.ClienteCidade - @Model.ClienteEstado - @Model.ClientePais
            </div>
        </div>
            <div class="row">
                <div class="col-md-3">
                    <b>Telefones de Contato</b>
                </div>
                <div class="col-md-9">
                    @Model.TelContato1
                    @if (Model.TelContato2 != null)
                    {
                        <span> / @Model.TelContato2</span>
                    }
                    @if (Model.TelContato3 != null)
                {
                        <span> / @Model.TelContato3</span>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <b>Endereço do empreendimento</b>
                </div>
                <div class="col-md-3">
                    @Model.EnderecoCompletoEmpreendimento
                </div>
                <div class="col-md-3">
                    <b>Informações Complementares</b>
                </div>

                <div class="col-md-3">
                    @Model.TextoLivre
                    </div>
                </div>
</fieldset>
    <br />

    <div class="row text-center">
        <input type="submit" value="voltar" name="BT_VOLTAR" class="btn btn-primary" />
        <input type="submit" value="Enviar seu Projeto" name="BT_PROX" class="btn btn-primary" />
    </div>
}
