@model ws.web.eng.Models.ProjetoModel
@{
    ViewBag.Title = "Serviços";
   }

@using (Html.BeginForm("Servicos", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    

    @Html.Partial("_Percistencia")


    <br />
    <div class="row">
        <div class="has-error">
            @ViewBag.Message
        </div>
    </div>
    <br />
    <div class="row">
        <h2>Nossos <span style="color:red">serviços</span></h2>
        <h4>Para o local, tipo, área e padrão de acabamento, selecione um ou mais serviços que deseja contratar</h4>
    </div>

    <fieldset>
        <legend>Projetos de Arquitetura</legend>
        @for (int l = 0;l <= Model.ServicosArquitetura.Count - 1; l++)
        {
            <div class="row">

            @for (int i = 0; i <= 3; i++)
            {
                if(l <= Model.ServicosArquitetura.Count - 1)
                {
                    string check = "";

                    if (Model.ServicosArquitetura[l].Selecionado)
                    {
                        check = "checked";
                    }

                    <div class="col-md-4">
                        <input name="ARQID" type="radio" value="@Model.ServicosArquitetura[l].ServicoID" @check /> @Model.ServicosArquitetura[l].Nome
                    </div>

                    l++;

                }else{
                    <div class="col-md-4">
                    </div>
                }
            }
            
            </div>
        }
    </fieldset>

    <fieldset>
        <legend>Projetos de Engenharia</legend>
        @for (int l = 0; l <= Model.ServicosEngenharia.Count - 1; l++)
        {
            <div class="row">

                @for (int i = 0; i <= 3; i++)
                {
                    if (l <= Model.ServicosEngenharia.Count - 1)
                    {
                        <div class="col-md-4">
                            @Html.CheckBox(Model.ServicosEngenharia[l].Codigo,  Model.ServicosEngenharia[l].Selecionado) @Model.ServicosEngenharia[l].Nome
                        </div>

                        l++;

                    }
                    else
                    {
                        <div class="col-md-4">
                        </div>
                    }
                }

            </div>
        }
    </fieldset>
            
            <br />
            <fieldset>
                <legend>Ficha do Projeto</legend>
                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(x => x.EnderecoCompletoEmpreendimento)
                        @Html.TextBoxFor(x => x.EnderecoCompletoEmpreendimento, new { @class = "form-control", @maxlength = "250" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(x => x.TextoLivre)
                        @Html.TextAreaFor(x => x.TextoLivre, new { @class = "form-control", @maxlength = "250", @rows = "5" })
                    </div>
                </div>
            </fieldset>            

            <div class="row text-center">
                <br />
                <input type="submit" value="voltar" name="BT_VOLTAR" class="btn btn-primary" />
                @if (Session["usu"] == null || Model.ClienteId == 0)
                {
                <input type="submit" value="Continuar e fazer um novo cadastro" name="BT_PROX" class="btn btn-primary" />
                <input type="submit" value="Continuar e fazer seu login" name="BT_LOG" class="btn btn-primary" />
                }
                else
                {
                <input type="submit" value="Continuar" name="BT_CON" class="btn btn-primary" />
                }

            </div>
}



