@model ws.web.eng.Models.InformarViewModel
@{
    ViewBag.Title = "Informar Status do projeto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}ProjetoID

@using (Html.BeginForm("Informar", "Projeto", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.Hidden("ProjetoID", Model.ProjetoID);
    <div class="row">
        <div class="text-warning">
            @Html.Raw(ViewBag.Message)
        </div>
    </div>
    <br />
    <div class="row">
        <h2>Informar Status do projeto <span style="color:red;">@Model.ProjetoID.ToString().PadLeft(9, char.Parse("0"))</span></h2>
    </div>

    <div class="container-fluid">
        <fieldset>
            <legend>Informações do projeto</legend>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <b>Região: </b> @Model.Projeto.Regiao.ToString()
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <b>Tipo de Projeto: </b> @Model.Projeto.Projeto.ToString()
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <b>Área: </b> @Model.Projeto.Area.ToString()
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <b>Acabamento: </b> @Model.Projeto.PadraoAcabamento.ToString()
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    @Html.DropDownListFor(m => m.StatusID, 
                   new SelectList(Model.Status, "Id", "Nome"),
                    "Selecione o Status")
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.Label("Novo Informe")
                        @Html.TextAreaFor(x => x.Observação, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <input type="submit" value="Enviar" name="BT_OK" class="btn btn-primary" />
            </div>
        </fieldset>
        <br />
        <fieldset>
            <legend>Histórico do projeto</legend>
            @*@foreach (var item in Model.Historico)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <b>Em: </b> @item.Data.ToShortDateString()
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <b>Relatou: </b> @item.Texto
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <b>Situação: </b> @item.EstadoID
                        </div>
                    </div>
                </div>
            }*@
        </fieldset>
    </div>
}


